<footer class="main">
    <div class="col-md-8">
        <strong>Copyright &copy; @DateTime.Now.Year.ToString() @ViewBag._SiteOwner @ViewBag._SiteName @ViewBag._SiteVersion.</strong>
    </div>
    <div class="col-md-4">
        Developer by <a href=@ViewBag._SiteDeveloperUrl target="_blank"> @ViewBag._SiteDeveloper </a>.
    </div>
</footer>
    
