@model IEnumerable<com.svnFacturame.cloud.frontend.core.Models.TG000002>
@{
    ViewData["Title"] = "Index";
}
<ol class="breadcrumb">
    <li class="active"><i class="fas fa-home fa-fw"></i>@Convert.ToString(string.Format("{0:MMMM dd, yyyy}", DateTime.Now.ToUniversalTime().AddHours(-5)))</li>
</ol>
<div class="col-sm-12">
    <div class="col-md-6">
        <h3><strong>Listado de Ciudades</strong></h3>
    </div>
    <div class="col-md-6">
        @Html.ActionLink("Add New", "Create", "TG000002", null, new { @class = "btn btn-primary buttonAdd" })
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>
                        <table id="tblTG000002List" class="display table table-bordered dataTable table-hover" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>CodCiudad</th>
                                    <th>Descripcion</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="align-middle">@item.CodCiudad</td>
                                        <td class="align-middle">@item.Name</td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { Id = @item.Id }, new { @class = "btn btn-primary" })
                                            @Html.ActionLink("Delete", "Delete", new { Id = @item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you wish to delete this registry?');" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .imageStyle {
        width: 100px;
        height: 100px;
    }

    .buttonAdd {
        float: right;
        margin-top: 20px;
    }
</style>
<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $(function () {
                $('#tblTG000002List').DataTable({
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true,
                });
            });

        });
    </script>
 }